<div class="form-field input-field" [ngClass]="{'with-error':errorState}">
<mat-form-field [appearance]="appearance">
    <mat-label>{{ label }}</mat-label>
    <input matInput 
    #inputRef
    [value]="value"
    [placeholder]="placeholder" 
    [type]="type" 
    [autocomplete]="autocomplete"
    [disabled]="isDisabled"
    (input)="handleInput($event)"  
    (blur)="handleBlur()"
    />     

<div class="form-field-error" *ngIf="errorState">
<span>{{getErrorMessage()}}</span></div>

<mat-hint class="form-field-hint" *ngIf="hint">{{hint}}</mat-hint>
</mat-form-field>  
</div>