<mat-form-field [appearance]="appearance">
    <mat-label>{{ label }}</mat-label>
    <input matInput 
    [value]="value" 
    [placeholder]="placeholder" 
    [type]="type" 
    [autocomplete]="autocomplete"
    [disabled]="isDisabled"
    [attr.maxLength]="maxLength ? maxLength : null"
    [attr.minLength]="minLength ? minLength : null"
    [attr.max]="max ? max : null"
    [attr.min]="min ? min : null"
    [attr.alt]="alt ? alt : null"
    [required]="isRequired"
    (input)="handleInput($event)" 
    />
</mat-form-field>