@use '/src/styles/shared/variables' as var;




.form-field {
    &.field-invalid label {
        color: var.$warn-clr !important;
    }

    .form-field-invalid-message {
        border: 1px solid var.$warn-clr;
        color: var.$warn-clr;
        padding: 3px;
        font-size: 11px;
        line-height: 1.2em;
    }

    //remember add style for hints
}

//material
body {

    .mdc-text-field,
    .mat-mdc-form-field-hint-wrapper {
        padding: 0 12px;
    }

    .form-field.field-invalid {
        .mdc-text-field--filled .mdc-line-ripple::after {
            border-bottom-color: var.$warn-clr;
            opacity: 1;
        }
    }
}