@use '/src/styles/shared/variables' as var;


.form-field.with-error input {
    color: var.$warn-clr !important;
}

.form-field {

    .form-field-error {
        border: 1px solid var.$warn-clr;
        color: var.$warn-clr;
        padding: 3px;
        font-size: 11px;
        line-height: 1.2em;
    }
   // .form-field-hint {}
}

//material
body {
    .mdc-text-field, 
    .mat-mdc-form-field-hint-wrapper {
        padding: 0 12px;
    }
}