@use '/src/styles/shared/variables' as var;

html,
body {
    height: 100%;
}

body {
    font-family: var.$main-font;
    color: var.$main-text-clr;
    line-height:1.4;
}

fieldset {
    padding: 15px;
    border-color: rgb(211 211 211 / 35%)
}

legend {
    color: rgb(168, 168, 168);
}



