@use '/src/styles/shared/variables' as var;

html,
body {
    height: 100%;
}

body {
    font-family: var.$main-font;
    color: var.$main-text-clr;
    line-height:1.4;
}

img {display:block}

fieldset {
    padding: 15px;
    border-color: rgb(211 211 211 / 35%)
}

legend {
    color: rgb(168, 168, 168);
}

.snackbar-warn>.mdc-snackbar__surface {
    background-color: var.$warn-clr !important;
    color: var.$warn-contrast-clr !important;
}

.snackbar-success .mdc-snackbar__surface {
    background-color: var.$success-clr !important;
    color: var.$success-contrast-clr !important;
}

.snackbar-info .mdc-snackbar__surface {
    background-color: var.$info-clr !important;
    color: var.$info-contrast-clr !important;
}



