@use 'sass:map';
@use '/src/styles/global/material/config' as mat-config;

//fonts
$main-font: "Courier New", monospace;
$material-font: $main-font;
$btn-font: $main-font;


//colors
$primary-clr: mat-config.$mat-primary-color;
$primary-contrast-clr: mat-config.$mat-primary-contrast-color;

$accent-clr: mat-config.$mat-accent-color;
$accent-contrast-clr: mat-config.$mat-accent-contrast-color;

$warn-clr: mat-config.$mat-warn-color;
$warn-contrast-clr: mat-config.$mat-warn-contrast-color;

$grey-clr: rgba(0, 0, 0, 0.38);
$warn-bg: #fff2f1;
$main-text-clr: black;
$link-clr: $main-text-clr;

//breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xll: 1450px;