<div class="checkbox-group-field">
  <mat-label *ngIf="label" class="label">{{label}}</mat-label>
  <div [ngClass]="verticalView ? 'verticalView' : 'horizontalView'">
  <div *ngFor="let control of formArray.controls; let i = index" class="form-field checkbox-field"
    [ngClass]="{'field-invalid': control.invalid && control.touched, 'is-required': value[i].isRequired}">
    <mat-checkbox 
    [formControl]="control" 
    [labelPosition]="value[i].labelPosition" 
    (focusout)="onSingleCheckboxFocusOut()" 
    >
      {{value[i].label}}<span class="required-star" *ngIf="value[i].isRequired && showIsRequiredForSingle"></span>
    </mat-checkbox>
    <div class="form-field-invalid-message" *ngIf="control.invalid && control.touched">
      <span>{{getErrorMessage(control.errors)}}</span>
    </div>
  </div> </div>
  <span *ngIf="showRequiredLegend" class="required-info grey-clr"><span class="required-star"></span>Required fields</span>
</div>