<mat-form-field [appearance]="appearance">
  <mat-label>{{ label }}</mat-label>
  <input matInput 
  [value]="displayedValue"
  [placeholder]="placeholder" 
  [type]="type" 
  [autocomplete]="autocomplete"
  [matAutocomplete]="auto"
  (input)="handleInput($event)"
  (keydown.enter)="updateDisplayedValueBasedOnInput($event)"
  (focusout)="updateDisplayedValueBasedOnInput($event)"
  />
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOptionLabel" (optionSelected)="handleOptionSelection($event)">
  <mat-option *ngFor="let option of displayedOptions" [value]="option">
    {{option.label}}
  </mat-option>
</mat-autocomplete>