<div class="form-field select-field" [ngClass]="{'field-invalid':errorState}">
<mat-form-field 
[appearance]="appearance"
subscriptSizing="dynamic"
>
<mat-label *ngIf="label">{{ label }}<span class="required-star" *ngIf="isRequired"></span> </mat-label>
<input matInput 
  #inputRef
  [value]="displayedValue"
  [placeholder]="placeholder" 
  [type]="type" 
  [autocomplete]="autocomplete"
  [matAutocomplete]="auto"
  (input)="handleInput()"
  (blur)="handleBlur()"
  (keydown.enter)="setValueBasedOnInputString()"
  />
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionLabel" (optionSelected)="handleOptionSelection($event)">
  <mat-option *ngFor="let option of displayedOptions" [value]="option">
    {{option.label}}
  </mat-option>
</mat-autocomplete> 
<div class="form-field-hint" *ngIf="hint">{{hint}}</div>
<div class="form-field-invalid-message" *ngIf="errorState">
  <span>{{getErrorMessage()}}</span></div>
</div>