body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: $black-color;
    background-color: $white-color;
}

a {
    color: $primary-color;
    text-decoration: none;
}

fieldset {
    padding: 15px;
    border-color: rgb(211 211 211 / 35%)
}

legend {
    color: rgb(168, 168, 168);
}

.active {
    color: $secondary-color;
}