// Definiowanie breakpointów
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Mixin dla small devices
@mixin sm {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}

// Mixin dla medium devices
@mixin md {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

// Mixin dla large devices
@mixin lg {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

// Mixin dla xlarge devices
@mixin xl {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}