// Nagłówki
h1,
h2,
h3 {
  margin-bottom: 1em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

// Paragrafy
p {
  margin-bottom: 1em;
  line-height: 1.6;
}



.title {}

.subtitle {}

.t-center {
  text-align: center
}