
<fieldset>
  <legend>
    Examples component
  </legend>

  <fieldset>
    <legend>List with pagination (to continue)</legend>

  <input type="text" id="search" (keyup.enter)="search($event)" placeholder="Search...">
  <ul style="height:400px; overflow: scroll;">
    <li *ngFor="let todo of $todos | async"> {{todo.title}}</li>
  </ul>
  <div>
    <select (change)="setPerPage($event)">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
    </select>
  </div>
  <p>Results: {{($todos | async)?.length || 0}}</p>

</fieldset>


  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <fieldset>
          <legend>Buttons</legend>
          <div class="button-row" style="display:Flex; flex-direction: column; gap:1rem; max-width:300px; margin:auto">
            <span>Default buttons</span>
            <button class="btn">Button basic</button>
            <button class="btn" color="primary">Button primary</button>
            <button class="btn" color="accent">Button accent</button>
            <button class="btn" color="warn">Button warn</button>
            <button class="btn" disabled>Button disabled</button>
            <hr>
            <span>Outline buttons</span>
            <button class="btn outline">Button basic</button>
            <button class="btn outline" color="primary">Button primary</button>
            <button class="btn outline" color="accent">Button accent</button>
            <button class="btn outline" color="warn">Button warn</button>
            <button class="btn outline" disabled>Button disabled</button>
          </div>
        </fieldset>
      </div>

      <div class="col-12 col-md-4">
        <fieldset>
          <legend>Form Example</legend>
          <h3>Form shared inputs based on controlValueAccessor</h3>
          <form (ngSubmit)="onSubmit()" [formGroup]="form" style="display:flex; flex-direction: column; gap:2px">

            <fieldset>
              <legend>app-input</legend>

              <app-input [formControl]="form.get('name')" label="Name (fill)" hint="Sample hint text"> </app-input>
              <br>
              <app-input [formControl]="form.get('password') | formControl" label="Password (outline)" type="password"
                appearance="outline"> </app-input>
            </fieldset>

            <fieldset>
              <legend>app-input-autocomplete</legend>

              <app-input-autocomplete [formControl]="form.get('autocompleteList') | formControl"
                [options]="autocompleteList" label="Autocomplete (fill)">
              </app-input-autocomplete>
              <br>
              <app-input-autocomplete [formControl]="form.get('autocompleteList') | formControl"
                [options]="autocompleteList" label="Autocomplete (outline)" appearance="outline">
              </app-input-autocomplete>
            </fieldset>

            <fieldset>
              <legend>app-checkbox-group</legend>
              <app-checkbox-group [formControl]="form.get('checkboxList') | formControl"
                label="Vertical:"></app-checkbox-group>
              <br>
              <app-checkbox-group [formControl]="form.get('checkboxList') | formControl" label="Horizontal:"
                [verticalView]="false"></app-checkbox-group>
            </fieldset>

            <fieldset>
              <legend>app-radio-group</legend>
              <app-radio-group [formControl]="form.get('radioList') | formControl" [options]="radioList"
                label="Vertical" [verticalView]="true"></app-radio-group>
              <br>
              <app-radio-group label="Horizontal:" [formControl]="form.get('radioList') | formControl"
                [options]="radioList"></app-radio-group>

            </fieldset>


            <fieldset>
              <legend>app-select </legend>
              <app-select formControlName="selectList" [options]="selectList"
              label="Select (fill)"></app-select>
              <br>
              <app-select [formControl]="form.get('selectList') | formControl" [options]="selectList"
                label="Select (outline)" appearance="outline"></app-select>
            </fieldset>


            <fieldset>
              <legend>app-checkbox</legend>
              <app-checkbox label="I Agree to Terms and Conditions"
                [formControl]="form.get('singleCheckbox') | formControl"></app-checkbox>
            </fieldset>

            <fieldset>
              <legend>app-textarea</legend>
              <app-textarea [formControl]="form.get('textArea') | formControl" label="Description"
                placeholder="Lorem ipsum..."></app-textarea>
            </fieldset>

            <button type="submit">Submit</button>
          </form>
        </fieldset>
      </div>
    </div>
  </div>

<fieldset>
  <legend>Grid + AppScrollAnimation directive</legend>

  <div class="container example-grid" appScrollAnimation>
    <div class="row">
      <div class="col-6" style="background-color: #abcdef;">Col 1 (6/12)</div>
      <div class="col-6" style="background-color: #aabbcc;">Col 2 (6/12)</div>
    </div>

    <div class="row">
      <div class="col-4" style="background-color: #defabc;">Col 1 (4/12)</div>
      <div class="col-8" style="background-color: #bbccaa;">Col 2 (8/12)</div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 col-lg-3" style="background-color: #fedcba;">Col 1 (12/12 mobile, 6/12 tablet, 3/12
        desktop)</div>
      <div class="col-12 col-md-6 col-lg-3" style="background-color: #eeffcc;">Col 2 (12/12 mobile, 6/12 tablet, 3/12
        desktop)</div>
      <div class="col-6 col-lg-3" style="background-color: #ccffee;">Col 3 (6/12 mobile, 3/12 desktop)</div>
      <div class="col-6 col-lg-3" style="background-color: #aabbaa;">Col 4 (6/12 mobile, 3/12 desktop)</div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4" style="background-color: #ffcc99;">Col 1 (12/12 mobile, 4/12 tablet i wyżej)</div>
      <div class="col-6 col-md-4" style="background-color: #99ccff;">Col 2 (6/12 mobile, 4/12 tablet i wyżej)</div>
      <div class="col-6 col-md-4" style="background-color: #cc99ff;">Col 3 (6/12 mobile, 4/12 tablet i wyżej)</div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-6" style="background-color: #ff9999;">Col 1 (12/12 mobile, 6/12 large i wyżej)</div>
      <div class="col-12 col-lg-6" style="background-color: #99ff99;">Col 2 (12/12 mobile, 6/12 large i wyżej)</div>
    </div>

    <div class="row">
      <div class="col-3 col-sm-6 col-lg-2" style="background-color: #ffcc00;">Col 1 (3/12 mobile, 6/12 small, 2/12
        large)</div>
      <div class="col-9 col-sm-6 col-lg-10" style="background-color: #ccff00;">Col 2 (9/12 mobile, 6/12 small, 10/12
        large)</div>
    </div>
  </div>
</fieldset>

</fieldset>