<fieldset>
  <legend>
    Examples component
  </legend>

  <router-outlet></router-outlet>
  <h2> Examples component </h2>

  <div style="margin:2rem 0">
    <p style="color:red" *ngIf="error">{{error}} </p>
    <label for="">apiTest_TodoList: </label>
    <input type="text" #titleRef>
    <button mat-button color="primary" (click)="addTodo(titleRef.value)">mat-button</button>
    <button mat-raised-button color="accent" (click)="addTodo(titleRef.value)">mat-raised-button</button>
    <button mat-flat-button color="warn" (click)="addTodo(titleRef.value)">mat-flat-button</button>
    <button mat-stroked-button disabled (click)="addTodo(titleRef.value)">mat-stroked-button</button>

    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>

    <button mat-icon-button color="accent" aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>

    <button class="btn primary" (click)="addTodo(titleRef.value)">btn primary</button>
    <button class="btn accent" (click)="addTodo(titleRef.value)">btn accent</button>
    <button class="btn warn" (click)="addTodo(titleRef.value)">btn warn <mat-icon>more_vert</mat-icon> </button>
    <button class="btn warn" disabled (click)="addTodo(titleRef.value)">btn warn </button>

    <button class="btn primary stroked" disabled (click)="addTodo(titleRef.value)">btn warn </button>

    <div style="padding:50px; background:black">
      <button class="btn primary stroked" disabled (click)="addTodo(titleRef.value)">btn warn </button>
    </div>
  </div>

  <input type="text" id="search" (keyup.enter)="search($event)" placeholder="Search...">
  <ul style="height:400px; overflow: scroll;">
    <li *ngFor="let todo of $todos | async"> {{todo.title}}</li>
  </ul>
  <div>
    <select (change)="setPerPage($event)">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
    </select>
  </div>


  <p>Results: {{($todos | async)?.length || 0}}</p>




  <div class="container">
    <div class="col-6">
      <fieldset>
        <legend>Form Example</legend>

        <form (ngSubmit)="onSubmit()" [formGroup]="form" style="display:flex; flex-direction: column; gap:2px">
          <app-input [control]="form.get('name') | formControl" label="Name"> </app-input>
          <app-input [control]="form.get('email') | formControl" label="Email" type="email"> </app-input>
          <app-input [control]="form.get('password') | formControl" label="Password" type="password"> </app-input>
          <app-input-autocomplete [control]="form.get('name') | formControl" [options]="list"
            label="List"></app-input-autocomplete>
          Gender
          <label><input type="radio" value="male" formControlName="gender">Male</label>
          <label><input type="radio" value="female" formControlName="gender">Female</label>

          <app-radio-group [control]="form.get('name') | formControl" [options]="list"
            label="Radio group"></app-radio-group>

          <app-checkbox-group [control]="defaultControl" [options]="list"
            label="hobbies"></app-checkbox-group>

          Select
          <app-select [control]="form.get('name') | formControl" [options]="list" label="Select"></app-select>


          <label for="country">Country</label>
          <select id="country" formControlName="country">
            <option value="poland">Poland</option>
            <option value="germany">Germany</option>
            <option value="uk">United Kingdom</option>
          </select>

          <label for="agree">I Agree to Terms and Conditions</label>
          <input type="checkbox" id="agree" formControlName="agree">

          <label for="description"> Description</label>
          <textarea id="description" formControlName="description" cols="30" rows="7"></textarea>

          <div formArrayName="hobbies">
            Hobbies <div *ngFor="let hobby of hobbies.controls; let i = index">
              <input [formControlName]="i">
            </div>
          </div>
          <button type="submit" [disabled]="form.invalid">Submit</button>
        </form>
      </fieldset>
    </div>
  </div>


  <div class="container" appScrollAnimation>
    <div class="row mt-5 fade-in">
      <div class="col-12 col-md-4 col-lg-2 pt-5" style="border: 1px solid red">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam magni, quaerat nobis repellendus quasi autem
          accusantium doloribus soluta facere laboriosam veniam qui ab, beatae neque ipsam dolorum vitae maiores
          nesciunt?</h3>
      </div>
      <div class="col-12 col-md-4 col-lg-2 pr-5 mt-5" style="border: 1px solid rgb(195, 0, 255)">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam magni, quaerat nobis repellendus quasi autem
          accusantium doloribus soluta facere laboriosam veniam qui ab, beatae neque ipsam dolorum vitae maiores
          nesciunt?</h3>
      </div>
      <div class="col-12 col-md-4 col-lg-8 " style="border: 1px solid brown">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam magni, quaerat nobis repellendus quasi autem
          accusantium doloribus soluta facere laboriosam veniam qui ab, beatae neque ipsam dolorum vitae maiores
          nesciunt?</h3>
      </div>
    </div>
  </div>



</fieldset>