<fieldset>
  <legend>
    Examples component
  </legend>

  <router-outlet></router-outlet>
  <h2> Examples component </h2>

  <div style="margin:2rem 0">
    <p style="color:red" *ngIf="error">{{error}} </p>
    <label for="">apiTest_TodoList: </label>
    <input type="text" #titleRef>
    <button (click)="addTodo(titleRef.value)">add</button>
  </div>

  <input type="text" id="search" (keyup.enter)="search($event)" placeholder="Search...">
  <ul style="height:400px; overflow: scroll;">
    <li *ngFor="let todo of $todos | async"> {{todo.title}}</li>
  </ul>
  <div>
    <select (change)="setPerPage($event)">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
    </select>
  </div>


  <p>Results: {{($todos | async)?.length || 0}}</p>

  <div style="height:150vh"></div>
  <div class="container" appScrollAnimation>
    <div class="row mt-5 fade-in"> sdfs
      <div class="col-12 col-md-4 col-lg-2 pt-5" style="background:red">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam magni, quaerat nobis repellendus quasi autem
          accusantium doloribus soluta facere laboriosam veniam qui ab, beatae neque ipsam dolorum vitae maiores
          nesciunt?</h3>
      </div>
      <div class="col-12 col-md-4 col-lg-2 pr-5 mt-5" style="background:yellow">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam magni, quaerat nobis repellendus quasi autem
          accusantium doloribus soluta facere laboriosam veniam qui ab, beatae neque ipsam dolorum vitae maiores
          nesciunt?</h3>
      </div>
      <div class="col-12 col-md-4 col-lg-8 " style="background:brown">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam magni, quaerat nobis repellendus quasi autem
          accusantium doloribus soluta facere laboriosam veniam qui ab, beatae neque ipsam dolorum vitae maiores
          nesciunt?</h3>
      </div>
    </div>
  </div>


</fieldset>