<h1>{{'title' | translate}}</h1>

<fieldset>
  <legend>
    Examples component
  </legend>

  <router-outlet></router-outlet>
  <h2> Examples component </h2>

  <div style="margin:2rem 0">
    <p style="color:red" *ngIf="error">{{error}} </p>
    <label for="">apiTest_TodoList: </label>
    <input type="text" #titleRef>
    <button mat-button color="primary" (click)="test()">mat-button TEST</button>
    <button mat-raised-button color="accent" (click)="addTodo(titleRef.value)">mat-raised-button</button>
    <button mat-flat-button color="warn" (click)="addTodo(titleRef.value)">mat-flat-button</button>
    <button mat-stroked-button disabled (click)="addTodo(titleRef.value)">mat-stroked-button</button>

    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>

    <button mat-icon-button color="accent" aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>



    <button class="btn primary stroked" disabled (click)="addTodo(titleRef.value)">btn warn </button>

    <div style="padding:50px; background:black">
      <button class="btn primary stroked" disabled (click)="addTodo(titleRef.value)">btn warn </button>
    </div>
  </div>

  <input type="text" id="search" (keyup.enter)="search($event)" placeholder="Search...">
  <ul style="height:400px; overflow: scroll;">
    <li *ngFor="let todo of $todos | async"> {{todo.title}}</li>
  </ul>
  <div>
    <select (change)="setPerPage($event)">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
    </select>
  </div>


  <p>Results: {{($todos | async)?.length || 0}}</p>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <fieldset>
          <legend>Form Example</legend> 
          <h3>Buttons</h3>

<fieldset>
  <legend>Custom</legend>
  <button class="btn stroked">Basic</button>
  <button class="btn" disabled>Disabled</button>
  <button class="btn primary" color="primary">Primary.<mat-icon [inline]="true">more_vert</mat-icon></button>
  <button class="btn accent">Accent</button>
  <button class="btn warn">Warn  </button>

</fieldset>

<fieldset>
  <legend>Angular material</legend>
  <div class="button-row">
    <!-- Standard button -->
    <button mat-button>Basic</button>
  
    <!-- Button with an accent color -->
    <button mat-button color="accent">Accent</button>
  
    <!-- Button with a primary color -->
    <button mat-button color="primary">Primary <mat-icon>more_vert</mat-icon></button>
  
    <!-- Button with a warn color -->
    <button mat-button color="warn">Warn</button>
  
    <!-- Disabled button -->
    <button mat-button disabled>Disabled</button>
  
    <!-- Flat button -->
    <button mat-flat-button>Flat</button>
  
    <!-- Raised button -->
    <button mat-raised-button>Raised</button>
  
    <!-- Stroked button -->
    <button mat-stroked-button>Stroked</button>
  
    <!-- Fab button -->
    <button mat-fab>Fab</button>
  
    <!-- Mini Fab button -->
    <button mat-mini-fab>Mini Fab</button>
  
    <!-- Icon button -->
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>  <!-- You can use any icon here -->
    </button>
  </div>
</fieldset>


        </fieldset>
      </div>

      <div class="col-12 col-md-6">
        <fieldset>
          <legend>Form Example</legend>
          <h3>Form shared inputs based on controlValueAccessor</h3>
          <form (ngSubmit)="onSubmit()" [formGroup]="form" style="display:flex; flex-direction: column; gap:2px">

            <fieldset>
              <legend>app-input</legend>

              <app-input [formControl]="form.get('name')" label="Name (fill)" hint="Sample hint text"> </app-input>
              <br>
              <app-input [formControl]="form.get('password') | formControl" label="Password (outline)" type="password"
                appearance="outline"> </app-input>
            </fieldset>

            <fieldset>
              <legend>app-input-autocomplete</legend>

              <app-input-autocomplete [formControl]="form.get('autocompleteList') | formControl"
                [options]="autocompleteList" label="Autocomplete (fill)">
              </app-input-autocomplete>
              <br>
              <app-input-autocomplete [formControl]="form.get('autocompleteList') | formControl"
                [options]="autocompleteList" label="Autocomplete (outline)" appearance="outline">
              </app-input-autocomplete>
            </fieldset>

            <fieldset>
              <legend>app-checkbox-group</legend>
              <app-checkbox-group [formControl]="form.get('checkboxList') | formControl"
                label="Vertical:"></app-checkbox-group>
              <br>
              <app-checkbox-group [formControl]="form.get('checkboxList') | formControl" label="Horizontal:"
                [verticalView]="false"></app-checkbox-group>
            </fieldset>

            <fieldset>
              <legend>app-radio-group</legend>
              <app-radio-group [formControl]="form.get('radioList') | formControl" [options]="radioList"
                label="Vertical" [verticalView]="true"></app-radio-group>
              <br>
              <app-radio-group label="Horizontal:" [formControl]="form.get('radioList') | formControl"
                [options]="radioList"></app-radio-group>

            </fieldset>


            <fieldset>
              <legend>app-select </legend>
              <app-select [formControl]="form.get('selectList') | formControl" [options]="selectList"
                label="Select (fill)"></app-select>
              <br>
              <app-select [formControl]="form.get('selectList') | formControl" [options]="selectList"
                label="Select (outline)" appearance="outline"></app-select>
            </fieldset>


            <fieldset>
              <legend>app-checkbox</legend>
              <app-checkbox label="I Agree to Terms and Conditions"
                [formControl]="form.get('singleCheckbox') | formControl"></app-checkbox>
            </fieldset>

            <fieldset>
              <legend>app-textarea</legend>
              <app-textarea [formControl]="form.get('textArea') | formControl" label="Description"
                placeholder="Lorem ipsum..."></app-textarea>
            </fieldset>

            <button type="submit">Submit</button>
          </form>
        </fieldset>
      </div>
    </div>
  </div>


  <div class="container" appScrollAnimation>
    <div class="row mt-5 fade-in">
      <div class="col-12 col-md-4 col-lg-2 pt-5" style="border: 1px solid red">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam magni, quaerat nobis repellendus quasi autem
          accusantium doloribus soluta facere laboriosam veniam qui ab, beatae neque ipsam dolorum vitae maiores
          nesciunt?</h3>
      </div>
      <div class="col-12 col-md-4 col-lg-2 pr-5 mt-5" style="border: 1px solid rgb(195, 0, 255)">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam magni, quaerat nobis repellendus quasi autem
          accusantium doloribus soluta facere laboriosam veniam qui ab, beatae neque ipsam dolorum vitae maiores
          nesciunt?</h3>
      </div>
      <div class="col-12 col-md-4 col-lg-8 " style="border: 1px solid brown">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam magni, quaerat nobis repellendus quasi autem
          accusantium doloribus soluta facere laboriosam veniam qui ab, beatae neque ipsam dolorum vitae maiores
          nesciunt?</h3>
      </div>
    </div>
  </div>



</fieldset>