<div class="form-field input-field" [ngClass]="{'field-invalid':errorState}">
  <mat-form-field [appearance]="appearance"
  >
      <mat-label>{{ label }}</mat-label>
    <textarea 
    #inputRef
    matInput 
    [placeholder]="placeholder"
    [rows]="rows" 
    [cols]="cols"
    [value]="value"
    [disabled]="isDisabled"
    (input)="handleInput($event)"
    (blur)="handleBlur()"
    > </textarea>

  <div class="form-field-invalid-message" *ngIf="errorState">
  <span>{{getErrorMessage()}}</span> 
  </div>
    
 <mat-hint class="form-field-hint" *ngIf="hint">{{hint}}</mat-hint>
    </mat-form-field>  
        </div>