<div class="form-field select-field" [ngClass]="{'field-invalid':errorState}">
<mat-form-field [appearance]="appearance">
    <mat-label>{{ label }}</mat-label>
    <mat-select 
        [value]="value" 
        [compareWith]="compare" 
        [multiple]="isMultiple"
        [disabled]="isDisabled"
        (valueChange)="handleValueChange($event)" 
        (blur)="handleBlur()">
        <mat-option *ngFor="let option of options" [value]="option">{{option.label}}</mat-option>
    </mat-select>
    <div class="form-field-invalid-message" *ngIf="errorState">
        <span>{{getErrorMessage()}}</span></div>
        
        <mat-hint class="form-field-hint" *ngIf="hint">{{hint}}</mat-hint>
</mat-form-field>
</div>



