<div class="form-field select-field" [ngClass]="{'field-invalid':errorState}">
<mat-form-field 
[appearance]="appearance"
subscriptSizing="dynamic" 
>
<mat-label *ngIf="label">{{ label }}<span class="required-star" *ngIf="isRequired"></span> </mat-label>
<mat-select 
        [value]="value" 
        [compareWith]="compare" 
        [multiple]="isMultiple"
        [disabled]="isDisabled"
        (valueChange)="handleValueChange($event)" 
        (blur)="handleBlur()">
        <mat-option *ngFor="let option of options" [value]="option" [disabled]="option.isDisabled">{{option.label}}</mat-option>
    </mat-select>
        </mat-form-field>
        <div class="form-field-invalid-message" *ngIf="errorState">
            <span>{{getErrorMessage()}}</span></div>
</div>



