<fieldset>
    <legend>Navigation component</legend>

    <nav style="display:flex; justify-content: space-between;">
        <ul style="display:flex; gap:2rem;">
            <li>
                <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a>
            </li>
            <ng-container >
                <li>
                    <a routerLink="profile" routerLinkActive="active">MY PROFILE</a>
                </li>
            </ng-container>
            <ng-container *ngIf="!isAuthenticated">
                <li>
                    <a routerLink="auth" routerLinkActive="active">LOGIN/REGISTER</a>
                </li>
            </ng-container>
        </ul>

        <ng-container *ngIf="isAuthenticated">
            <app-profile-bar></app-profile-bar>
        </ng-container>

    </nav>

</fieldset>