<nav style="display:flex; justify-content: space-between;">
    <ul style="display:flex; gap:2rem;">
        <li>
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a>
        </li>
        <li>
            <a routerLink="auth" routerLinkActive="active">AUTH</a>
        </li>
        <li>
            <a routerLink="profile" routerLinkActive="active">PROFILE</a>
        </li>
    </ul>
    <app-profile-bar></app-profile-bar>
</nav>

<style>
    .active {
        color: green
    }
</style>